<app-navbar></app-navbar>
<div class="otroservicio">
  <div class="image"></div>
  <div class="layer"></div>
  <div class="section-header">
    <h2>
      Exámenes a Domicilio
    </h2>
  </div>
  <div class="container top">
    <div class="services-widget row">
      <div class=" col-sm-12 col-md-10 misionInfo">
        <p>
          En nuestros laboratorios ofrecemos un servicio externo de exámenes a domicilio realizado por profesionales altamente 
          calificados. Para más información comunicarse al 55-2893523.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>