<div class="services">
  <div class="container">
    <div class="services-area">
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-heartbeat fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Exámenes</span></div>
            <section class="text_part">Entérate de los exámenes realizamos.</section>
            <a class="readmore" href="/examenes">Leer Más</a>
          </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-download fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Resultados en línea</span></div>
            <section class="text_part">Revisa tus resultados de tus exámenes.</section>
            <a class="readmore" href="/services">Ver Resultados</a> </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-handshake-o fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Convenios</span></div>
            <section class="text_part">Entérate de los distintos convenios que tenemos.</section>
            <a class="readmore" href="/convenios">Leer Más</a> </div>
        </div>
      </div>
      <div class="services-widget">
        <div>
          <div class="widget-icon icon"><i class="fa fa-home fa-size"><span class="triangle"></span></i></div>
          <div class="cws-widget-content benefits_widget">
            <div class="widget-title"><span>Servicios a Domicilio</span></div>
            <section class="text_part">Conoce de nuestros servicios a domicilio.</section>
            <a class="readmore" href="/examenes-a-domicilio">Leer Más</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>