@import '../../../mq.scss';
.aboutus{
    background-color: #fafafa;
}
.section-header{
    padding-top:40px;
    text-align: center;
    color: #000;
    h2{
        padding-bottom: 10px;
        line-height: 40px;
        position: relative;
        display: inline-block;
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 0;
        color: #000;
        font-weight: 700;
        @include mobile{
            font-size: 35px;
        }
    }
}

.top{
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: 'Cantarell';
}
.services-widget{
        background: #fafafa;
        display: table-cell;
        position: relative;
        padding-bottom: 0;
        margin-bottom: 0;
        padding: 30px;
        vertical-align: top;
        &:nth-child(even){
            background: #fafafa;
        }
        .widget-icon{
            margin-bottom: 0;
            display: block;
            line-height: 120px;
            width: 100%;
            margin-top: -10px;
        }
        .fa-size{
           font-size: 96px !important;
            width: auto;
            height: auto;
            text-shadow: 2px 2px 0 rgba(0,0,0,0.15);
            background: transparent;
            border-style: none;
            color: #000;
        }
}